body {
  font-family: "Avenir-Light", "Helvetica Neue", Helvetica, Arial,
    "Lucida Grande", sans-serif;
  padding: 0;
  background: #fff;
  color: #181a1b;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
    --base : #134db6;
    --background: #fff;
}
@font-face {
  font-family: "ArgentCF-DemiBold";
  src: url("fonts/ArgentCF-DemiBold.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "ArgentCF-Bold";
  src: url("fonts/ArgentCF-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "ArgentCF-Light";
  src: url("fonts/ArgentCF-Light.woff2") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "ArgentCF-Thin";
  src: url("fonts/ArgentCF-Light.woff2") format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "ArgentCF-Regular";
  src: url("fonts/ArgentCF-Regular.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Avenir-Light";
  src: url("fonts/avenir_light.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Avenir-Medium";
  src: url("fonts/avenir_medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Avenir-Heavy";
  src: url("fonts/avenir_heavy.woff2") format("woff2");
  font-weight: 700;
}
h1 {
  font-size: 2em;
  line-height: 1.2em;
  padding: 20px 0;
  font-family: "ArgentCF-DemiBold";
  font-weight: 700;
}
h2 {
  font-size: 42px;
  line-height: 1.2em;
  padding: 20px 0;
  font-family: "ArgentCF-Thin";
  font-weight: 100;
}
h3 {
  font-weight: 300;
  margin: 30px 0 20px 0;
}
h4 {
  margin: 30px 0 20px 0;
  font-family: "Avenir-Heavy";
}
p {
  font-size: 1em;
  line-height: 1.75em;
}
p.second-paragraph {
  margin-top: 70px;
}
a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
  text-decoration: none;
}
a:hover {
  color: var(--base);
}
.quote {
  font-size: 1.5em;
  font-weight: 600;
  font-family: "Avenir-Heavy";
}
.quote p {
  line-height: 1.6em;
  margin-top: 10px;
}
ul {
  list-style-type: none;
  margin: 20px 0 20px 0;
  padding: 0;
}
.container {
  margin: auto 0;
  padding: 20px;
  box-sizing: border-box;
}
.container .large {
  max-width: 1300px;
  box-sizing: border-box;
  margin: auto;
}
.container .small {
  margin: auto;
  max-width: 760px;
  box-sizing: border-box;
}
.column {
  box-sizing: border-box;
}
.column .full {
  width: 100%;
}
.column .left {
  vertical-align: top;
  width: 49%;
  display: inline-block;
  padding-right: 30px;
  box-sizing: border-box;
}
.column .right {
  vertical-align: top;
  width: 50%;
  display: inline-block;
  padding-left: 30px;
  box-sizing: border-box;
}
.page-title h3 {
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: 1em;
  margin-right: 10px;
  font-weight: 800;
}
.page-title h3.role {
  font-weight: 300;
  margin: 0;
}
.meta {
  font-weight: 800;
  font-size: 0.9em;
  display: inline-block;
  margin-right: 40px;
  font-family: "Avenir-Heavy";
}
.meta::before {
  content: attr(title);
  text-transform: uppercase;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  color: rgba(34, 36, 39, 0.5);
  display: block;
  margin-bottom: 8px;
}
#homepage .label {
  color: var(--base);
  font-size: 0.75em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: "avenir-heavy";
}
#homepage h3 {
  font-size: 1.5em;
  font-family: "ArgentCF-DemiBold";
}
#homepage h4 {
  font-size: 1.4em;
  font-family: "ArgentCF-DemiBold";
}
#homepage a:hover,
#homepage h3 a:hover,
#homepage h4 a:hover {
  color: var(--base);
}
#homepage .page-title {
  margin: 80px 0 32px 0;
}
#homepage .page-title h1,
#homepage .page-title h2 {
  margin: 0;
  padding: 0;
  font-size: 2em;
}
#homepage .page-title h1 {
  font-family: "ArgentCF-Bold";
}
#homepage .page-title h2 {
  font-weight: 200;
}
#homepage .resume {
  margin-top: 20px;
}
#homepage .resume li {
  margin: 0 0 20px 0;
}
#homepage .resume .role {
  font-size: 0.9em;
  font-family: "Avenir-Heavy";
  margin: 4px 0;
}
#homepage .resume .date {
  font-size: 0.9em;
  color: rgba(34, 36, 39, 0.5);
}
#homepage .resume .company {
  font-size: 0.9em;
}
#homepage .resume .skill {
  font-size: 0.9em;
  font-family: "Avenir-Heavy";
}
.email {
  height: 20px;
  padding: 10px;
  vertical-align: top;
  font-family: "Avenir-Medium";
}
.footer {
  margin-top: -60px;
}
.page-title >.column > .right {
    margin-top: 1rem;
}
.small img {
  width: 100%;
  margin: 0 auto;
  margin: 20px 0 0 0;
}
.large img {
  width: 100%;
  margin: 0 auto;
}
.footer h3 a {
  font-family: "ArgentCF-DemiBold";
  font-size: 1.0em;
  color: #134db6;
}
.footer h4 a {
  font-family: "ArgentCF-DemiBold";
  font-size: 1.4em;
}
#fourohfour.article h1 {
  margin-bottom: 0;
}
.footer {
  margin-top: 5px;
}
.footer a {
  font-family: "Avenir-Light";
}
.footer h3 {
  font-family: "ArgentCF-DemiBold";
  font-size: 1.4em;
}
.footer a:hover {
  color: var(--base);
}
.footer h4 {
  font-family: "ArgentCF-DemiBold";
  font-size: 1.4em;
}
.footer .label {
  opacity: 1 !important;
  color: var(--base);
  font-size: 0.75em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: "avenir-heavy";
}

.row {
  width: 100%;
  background: #134db6;
  height: 1.5rem;
  position: fixed;
  top: 0;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  padding-top: 0.5rem;
}

@media screen and (max-width: 768px) {
  #homepage .page-title {
    margin: 32px 0 32px 0;
  }
  #homepage .footer {
    margin: 0;
  }
  .column .left {
    width: 100%;
    padding-right: 0;
  }
  .column .right {
    width: 100%;
    padding-left: 0;
  }
}
