body {
  font-family: "Avenir-Light", "Helvetica Neue", Helvetica, Arial,
    "Lucida Grande", sans-serif;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --base: #134db6;
  --background: #fff;
  --base2: #fc7a6a;
  --light-font: #181a1b;
}

#body {
  background: #fff;
  color: var(--light-font);
}


@font-face {
  font-family: "ArgentCF-DemiBold";
  src: url("fonts/ArgentCF-DemiBold.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "ArgentCF-Bold";
  src: url("fonts/ArgentCF-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "ArgentCF-Light";
  src: url("fonts/ArgentCF-Light.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "ArgentCF-Thin";
  src: url("fonts/ArgentCF-Light.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "ArgentCF-Regular";
  src: url("fonts/ArgentCF-Regular.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Avenir-Light";
  src: url("fonts/avenir_light.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Avenir-Medium";
  src: url("fonts/avenir_medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Avenir-Heavy";
  src: url("fonts/avenir_heavy.woff2") format("woff2");
  font-weight: 700;
}

h1 {
  font-size: 2em;
  line-height: 1.2em;
  padding: 20px 0;
  font-family: "ArgentCF-DemiBold";
  font-weight: 700;
}

h2 {
  font-size: 42px;
  line-height: 1.2em;
  padding: 20px 0;
  font-family: "ArgentCF-Thin";
  font-weight: 100;
}

h3 {
  font-weight: 300;
  margin: 30px 0 20px 0;
}

p {
  font-size: 1em;
  line-height: 1.75em;
}

a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
  text-decoration: none;
  color: var(--base);
}

.quote {
  font-size: 1.5em;
  font-weight: 600;
  font-family: "Avenir-Heavy";
}

ul {
  list-style-type: none;
  margin: 20px 0 20px 0;
  padding: 0;
}

.container {
  margin: auto 0;
  padding: 20px;
  box-sizing: border-box;
}

.container .small {
  margin: auto;
  max-width: 760px;
  box-sizing: border-box;
}

.column {
  box-sizing: border-box;
}

.column .full {
  width: 100%;
}

.column .left {
  vertical-align: top;
  width: 49%;
  display: inline-block;
  padding-right: 30px;
  box-sizing: border-box;
}

.column .right {
  vertical-align: top;
  width: 50%;
  display: inline-block;
  padding-left: 30px;
  box-sizing: border-box;
}

#homepage .label {
  color: var(--base);
  font-size: 0.75em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: "avenir-heavy";
}

#homepage h3 {
  font-size: 1.5em;
  font-family: "ArgentCF-DemiBold";
}

#homepage .page-title {
  margin: 80px 0 32px 0;
}

#homepage .page-title h1,
#homepage .page-title h2 {
  margin: 0;
  padding: 0;
  font-size: 2em;
}

#homepage .page-title h1 {
  font-family: "ArgentCF-Bold";
}

#homepage .page-title h2 {
  font-weight: 200;
}

#homepage .resume {
  margin-top: 20px;
}

#homepage .resume li {
  margin: 0 0 20px 0;
}

#homepage .resume .role {
  font-size: 0.9em;
  font-family: "Avenir-Heavy";
  margin: 4px 0;
}

#homepage .resume .date {
  font-size: 0.9em;
  color: var(--light-font);
}

#homepage .resume .company {
  font-size: 0.9em;
}

#homepage .resume .skill {
  font-size: 0.9em;
  font-family: "Avenir-Heavy";
}

.email {
  height: 20px;
  padding: 10px;
  vertical-align: top;
  font-family: "Avenir-Medium";
}

.footer {
  margin-top: -60px;
}

.page-title > .column > .right {
  margin-top: 1rem;
}

.footer h3 a {
  font-family: "ArgentCF-DemiBold";
  font-size: 1em;
  color: var(--base);
}

#fourohfour.article h1 {
  margin-bottom: 0;
}

.footer {
  margin-top: 5px;
}

.footer a {
  font-family: "Avenir-Light";
}

.footer h3 {
  font-family: "ArgentCF-DemiBold";
  font-size: 1.4em;
}

#button {
  outline: none;
  border: none;
  border-radius: 2px;
  background: #134db6;
  /* color: #134db6; */
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  color: #fff;
}

@media screen and (max-width: 768px) {
  #homepage .page-title {
    margin: 32px 0 32px 0;
  }
  #homepage .footer {
    margin: 0;
  }
  .column .left {
    width: 100%;
    padding-right: 0;
  }
  .column .right {
    width: 100%;
    padding-left: 0;
  }
  #button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  h3 {
    font-weight: 300;
    margin: 0px 0 20px 0;
  }
}
